apiVersion: apps/v1
kind: Deployment
metadata:
  name: knote
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      run: knote
  template:
    metadata:
      labels:
        run: knote
    spec:
      containers:
        - name: knote-container
          image: 567232876231.dkr.ecr.ap-northeast-3.amazonaws.com/knote
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: spring.data.mongodb.uri
              value: mongodb://mongo:27017/dev
