<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kNote</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="header">
        <h1><a href="/">kNote</a></h1>
        <a class="post-btn btn" id="new-btn" href="/note/new">New Note</a>
    </div>
    <div class="note-container" id="note-container">
        <div class="note" th:each="note : ${notes}">
            <div class="note-header">
                <div class="note-header-left">
                    <p class="note-title" th:text="${note.title}">hello</p>
                    <p class="note-author" th:text="${note.author}">Kong</p>
                </div>
                <div class="note-timestamp">
                    <p class="note-timestamp-date" th:text="${note.createdDate}">22.02.03</p>
                    <p class="note-timestamp-time" th:text="${note.createdTime}">22:09</p>
                </div>
            </div>
            <p readonly class="note-description" th:text="${note.description}">HiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiIt's a test description. It's a test description.It's a test description.It's a test description.It's a test description.It's a test description.It's a test description.It's a test description.It's a test description.It's a test description.</p>
            <div class="comment-container">
                <a href="#" th:href="@{/note(id=${note.id})}" class="comment-count" th:text="${#lists.size(note.comments)} + ' Comments'">2 Comments</a>
            </div>
        </div>
    </div>

    <div class="pagination">
        <a th:href="@{/(page=${pagination.prevStartPage})}" class="btn" th:if="${pagination.showFirstPage}">&#8249;&#8249;</a>
        <span>
            <a href="/" class="btn" th:if="${pagination.showFirstPage}">1</a>
            <a th:if="${pagination.showFirstPage}">..</a>

            <a href="#" class="btn active" th:each="pageIndex: ${pagination.pageIndices}"
                th:href="@{/?(page=${pageIndex})}" th:class="'btn' + ( ${pageIndex} == ${pagination.currentPage} ? ' active' : '' )"
                th:text="${pageIndex}">11</a>

            <a th:if="${pagination.showLastPage}">..</a>
            <a th:href="@{/(page=${pagination.totalPages})}" class="btn" th:if="${pagination.showLastPage}" th:text="${pagination.totalPages}">101</a>
        </span>
        <a th:href="@{/(page=${pagination.nextStartPage})}" class="btn" th:if="${pagination.showLastPage}">&#8250;&#8250;</a>
    </div>
</body>
</html>