<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kNote</title>
    <link rel="stylesheet" href="write.css">
</head>
<body>
    <div class="header">
        <h1><a href="/">kNote</a></h1>
    </div>
    <form action="/note/new" method="post">
        <div class="note-container">
            <div class="note">
                <div class="note-header">
                    <div class="note-title">
                        <label class="note-title-label">Title</label>
                        <input class="note-title-text" name="title">
                    </div>
                    <div class="note-author">
                        <label class="note-author-label">Author</label>
                        <input class="note-author-text" name="author">
                    </div>
                </div>
                <div class="note-description">
                    <label class="note-description-label">Description</label>
                    <textarea class="note-description-text" name="description"></textarea>
                </div>
            </div>
        </div>
        <div class="note-footer">
            <input type="submit" class="note-footer-btn" value="SUBMIT">
            <a class="note-footer-btn" href="/">EXIT</a>
        </div>
    </form>
</body>
</html>